-# in app/views/books/show.html.haml
%h2 Details about #{@book.title}
 
%ul#details
  %li
    Genere:
    = @book.genere
  %li
    Author:
    = @book.author
  %li
    ISBN:
    = @book.isbn_number
  %li
    Published:
    = @book.publish_date.strftime("%B %d, %Y")
 
%h3 Description:
 
%p#description= @book.description

= link_to 'Edit book', edit_book_path(@book)
%br
= link_to 'Delete book', book_path(@book), :method => :delete
%br
= link_to 'Go back to listing', books_path
%br
= link_to 'Find Books With Same Author', show_same_book_path(@book.id)